html,
body,
.container {
  height: 100%;
  margin: 0;
  width: 100%;
}

.container {
  box-sizing: border-box;
  overflow: hidden;
  padding: 1em;
  position: relative;
}

.title {
  background-color: rgba(255, 255, 255, 0.8);
  height: 15em;
  left: 3%;
  position: relative;
  top: 20%;
  width: 42%;
  z-index: 1;
}

.title h1,
.title h2 {
  opacity: 0;
  transition: 2s;
}

.title h1 {
  font-family: serif;
  font-size: 4em;
  margin: 0;
}

.line-through {
  background-color: #c4c4c4;
  display: inline-block;
  height: 1.5em;
  position: absolute;
  transition: 1s;
  z-index: -1;
}

.line-through.one {
  left: -0.5em;
  top: 3.1em;
  width: 0;
}

.line-through.two {
  left: -1.5em;
  top: 7.7em;
  width: 0;
}

.line-through.three {
  width: 0;
}

.title h2 {
  font-family: sans-serif;
  font-weight: normal;
}

.social-media-icons {
  bottom: -2em;
  box-sizing: border-box;
  height: 2em;
  left: 0;
  padding: 0 1.5em;
  position: absolute;
  text-align: center;
  transition: 1s;
  width: 50%;
}

.social-media-icons a {
  display: inline-block;
  height: 2em;
  margin: 0 0.1em;
  text-align: center;
  width: 2em;
}

.social-media-icons a img {
  height: 2em;
}

.slider {
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: -100%;
  top: 0;
  transition: 1s;
  width: 50%;
}

.slider .arrows {
  bottom: 0;
  height: 8em;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.arrows .arrow {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  height: 8em;
  position: absolute;
  transition: 1s;
  width: 8em;
  z-index: 1;
}

.arrows .arrow-left {
  left: -8em;
}

.arrows .arrow-right {
  right: -8em;
}

.slider .slide {
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.slider .dots {
  bottom: -1em;
  height: 0.7em;
  position: absolute;
  text-align: center;
  transition: 1s;
  width: 100%;
  z-index: 1;
}

.dots .dot {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.1em solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: inline-block;
  height: 0.7em;
  margin: 0 0.1em;
  width: 0.7em;
}

@media screen and (max-width: 1366px) {
  .title {
    left: 2%;
    width: 47%;
  }

  .title h1 {
    font-size: 2.8em;
  }

  .title h2 {
    font-size: 1.3em;
  }

  .line-through {
    height: 1.2em;
  }

  .line-through.one {
    top: 2em;
  }

  .line-through.two {
    left: -1em;
    top: 5.3em;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    left: 1.5%;
    width: 33%;
  }

  .line-through.two {
    left: -1em;
    top: 4.9em;
  }

  .line-through.three {
    left: -1em;
    top: 8.5em;
  }

  .social-media-icons {
    width: 38%;
  }

  .slider {
    width: 62%;
  }

  .slider .arrows {
    height: 7em;
  }

  .arrows .arrow {
    height: 7em;
    width: 7em;
  }
}

@media screen and (max-width: 800px) {
  .container {
    overflow-y: auto;
  }

  .title {
    box-sizing: border-box;
    height: 16.5em;
    left: 0;
    margin: 0 auto;
    padding: 1em;
    top: 10%;
    width: 20em;
  }

  .line-through.one {
    top: 3em;
  }

  .line-through.two {
    top: 6em;
  }

  .line-through.three {
    top: 9.5em;
  }

  .social-media-icons {
    bottom: -4.5em;
    height: 2.5em;
    left: 0;
    margin-bottom: 1em;
    width: 100%;
  }

  .social-media-icons a {
    height: 2.5em;
    margin: 0 0.1em;
    width: 2.5em;
  }

  .social-media-icons a img {
    height: 2.5em;
  }

  .slider {
    width: 100%;
  }

  .slider .arrows {
    height: 5em;
    top: 80%;
  }

  .arrows .arrow {
    height: 5em;
    width: 5em;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .title {
    top: 0;
  }

  .slider .arrows {
    top: 60%;
  }
}

@media screen and (max-width: 480px) {
  .slider .dots {
    height: 0.6em;
  }

  .dots .dot {
    height: 0.6em;
    width: 0.6em;
  }
}

@media screen and (max-width: 400px) {
  .title {
    width: 95%;
  }
}
